html, body {
	padding: 0;
	margin: 0;
}
h2,section {
	margin: 0 25%;
}
fieldset {
	border-radius: 7px;
	background: #FFEFD5;
}
p, h2 {
	color: #8B4513;
}
.left {
	float: right;
	margin-right: 30%;
	width: 28%;
}
.left_other {
	float: right;
	margin-right: 30%;
	width: 30%;
}
.jir {
	font-weight: bold;
}
.zagolovok {
	font-weight: bold;
	color: #40E0D0;
}

#kuxnya {
	float: right;
	margin-right: 44%;
}
#knopka {
	color: #8B4513;
	background: linear-gradient(to bottom, #faf3ee, #74c5c4);
	border-radius: 7px;
	padding: 1%;
	margin: 0 25%;
}
